.footer {

    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    background-color: #c5e1d4;
    height: 120px;
    padding: 10px 20px 20px 20px;
    flex-direction: column;

    redes {
        background-color: honeydew;
        padding: 20px 40 px;


       

        iconos {
            width: 600px;   

            ul {

                display: flex;
                justify-content: space-between;
                padding: 30px 0;

            }
        }
    }
}
